name: Release to GitHub Pages
on:
  push:
    branches: [main]
jobs:
  gh-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4.4.0
        with:
          node-version: "16"
      - name: Release to GitHub Pages
        env:
          USE_SSH: false
          GIT_USER: tianhaoz95
          GIT_PASS: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.email "tianhaoz@umich.edu"
          git config --global user.name "tianhaoz95"
          npm ci --no-optional
          npm run deploy
